

.box {
    background-color: rgb(3, 105, 3);
}


#div1 { text-align: center;
        color: whitesmoke;
        border-radius: 60% 60% 0% 0%;
        height: 1px;
        width: 65px;
        padding:15px;
        margin:auto;
}

#div2 { text-align: center;
        color: whitesmoke;
        height: 1px;
        width: 125px;
        padding:12px;
        margin: auto;
}

#div3 { text-align: center;
        color: whitesmoke;
        height: 250px;
        width: 200px;
        padding:20px;
        margin: auto;
}

#rojo {
    border-radius: 100%;
    background-color: red;
    z-index:30;
    width: 30px;
    height: 30px;
    padding: 25px; 
    margin:  -15px auto 7px auto;
    position: relative;
    animation-name: circle;
    animation-duration: 4s;
}

#amarillo {
    border-radius: 100%;
    background-color: yellow;
    z-index:30;
    width: 30px;
    height: 30px;
    padding: 25px; 
    margin:  7px auto;
    position: relative;
    animation-name: square;
    animation-duration: 6s;
}

#verde {
    border-radius: 100%;
    background-color: rgb(103, 236, 103);
    z-index:30;
    width: 30px;
    height: 30px;
    padding: 25px; 
    margin:  7px auto;
    position: relative;
    animation-name: triangle;
    animation-duration: 2s;
}

#div4 { text-align: center;
        color: whitesmoke;
        height: 325px;
        width: 5px;
        padding:15px;
        margin: auto;
}

#div5 { text-align: center;
        color: whitesmoke;
        height: 1px;
        width: 225px;
        padding:15px;
        margin: auto;
}

@keyframes circle {
    0%   { opacity: 4; }
    50%  {opacity: 1; }
    100% { opacity: 1; }
}

@keyframes square {
    0%   { opacity: 0; }
    50%  {opacity: 4; }
    100% { opacity: 1; }
}

@keyframes triangle {
    0%   { opacity: 0; }
    50%  {opacity: 0; }
    100% { opacity: 4; }
}